POSTGRES_DB=karvan
POSTGRES_USER=karvan
POSTGRES_PASSWORD=change_me_strong_password
DJANGO_SECRET_KEY=change_me_very_long_random_secret_key
ALLOWED_HOSTS=ziaratticket.ir,www.ziaratticket.ir
CERTBOT_EMAIL=your@email.com
